.posts{
    flex:1;
    min-width:fit-content;
    height: 700px;
    margin-left: 50%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.posts::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1200px)
{
    .posts{
        margin-left: 0%;
        width: 100%;
        min-width: unset !important;
    }
    .postWrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        align-items: center;
    }
}
@media screen  and (max-width:600px){
    .posts{
        overflow-y: unset;
    }
}