.messenger{
    height: 90vh;
    display: flex;
    background-color: #242526;
    align-items: unset;
}
.sidebarRow{
    height: auto !important;
    padding: 4px;
    margin-left: 0px;
}
.sidebarRow__icon.avatar{
    width: 56px !important;
    height: 56px !important;
}
.chatMenu{
    flex:2;
    border-right: 1px solid gray;
    overflow-y: hidden;
}
.chatBox{
    flex:8;
    height: 80%;
    width: 100%;
     /* overflow-y:scroll;
} */
}
.chatOnline{
   display:none;
    overflow: hidden;
}
.headerMenu{
    display: flex;
    justify-content: space-between;
}
.searchChatInput{
    
}
.dropdown-content3{
    display: none;
    position: absolute;
    background-color: #242526;
    width: 295px;
    z-index: 1;
    margin-left: 0px;
    margin-top: 50px;
    padding-left: 10px;
    padding-top: 10px;
    /* top: 120px; */
    overflow-y: scroll;
    height: fit-content;
    max-height: 450px;
    border-radius: 10px;
    min-height: 200px;
  }
.headerLeft{
margin-left: 10px;
display: flex;
align-items: center;
}
.chat{
    color: #fff;font-size: 20px;
}
.headerRight{
    display: flex;
    margin-right: 10px;
}
.round{
    margin-left: 5px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255,255,255,0.1);
}
.moreM{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/ZOBPkpI0klM.png);
    background-position: -132px -110px;
    background-size: 190px 194px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: -0.25em;
    -webkit-filter:invert(89%)sepia(6%)hue-rotate(185deg);
}
.video{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/kYkjqw1T16g.png);
    background-position: 0px -236px;
    background-size: 26px 1490px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter:invert(89%)sepia(6%)hue-rotate(185deg);
}
.editM{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/ZOBPkpI0klM.png);
    background-position: -88px -110px;
    background-size: 190px 194px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter:invert(89%)sepia(6%)hue-rotate(185deg);
}
.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
padding: 10px;
height: 100%;


}
chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
display: flex;
/* justify-content: center;
align-items: center; */
margin-bottom: 20px;
}
.chatMenuInput:focus{
    outline: none;
}
.inputWrapper{
    width: 90%;
    padding: 10px;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: flex-start;
background-color:rgba(255,255,255,0.1);
}
.chatBoxTop{
    /* margin-top: 50px; */
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.chatBoxTop::-webkit-scrollbar {display:none;}
.searchIcon{
    /* -webkit-filter:invert(100%); */
    margin: unset;
  margin-left: 5px;
}
.searchicond{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chatMenuInput{
    width: 90%;
    margin-left: 20px;

   background-color:transparent;
    border: none;
    
}
.chatBoxBottom{
    flex-grow: 1;
display: flex;
position: sticky;
width: 100%;
bottom: 0;
background-color: #242526;
padding: 2px;
margin-top:auto;
}
.chatBoxBottomWrapper{
    flex-grow: 1;
    display: flex;
    width: 100%;
    /* position:fixed; */
    bottom: 30px;
    width: 100%;
}
.inputIcons{
    display: flex;
justify-content: center;
align-items: center;
/* width: 14%; */
height: 53px;
}
.iconsWrapper{
display: flex;
}
.iconInput{
    margin-left: 15px;
    width: 28px;
    height: 28px;
    -webkit-filter: invert(41%) sepia(48%) saturate(6613%) hue-rotate(196deg) brightness(104%) contrast(104%);
}
.inputSend{
    margin-left: 10px;
    width: 82%;
    display: flex;
    padding: 2px;
    max-height:100px;
   height: 43px;
    /* overflow-y: scroll; */
}
.inputSendWrapper{
    width: 100%;
    background-color: inherit;
    display: flex;
    align-items: center;
   
    border-radius:30px;
    height: 100%;
    background-color: rgba(255,255,255,0.1);

}
form{
    width: 95%;
}
.toSend{
    background-color:transparent !important;
    width: 90%;
    margin-left: 10px;
    border: none;
}
.toSend:focus{
    outline: none;
}
.sendIcon{
    margin-left: 10px;
    width: 2%;
    /* padding: 2px; */
    /* height: 100%; */
    display: flex;
    background-color: inherit;
    border: none;
    align-items: center;
    justify-content: center;
}
.iconSend{
    width: 28px;height: 28px;
    margin-bottom: 5px;
    -webkit-filter: invert(41%) sepia(48%) saturate(6613%) hue-rotate(196deg) brightness(104%) contrast(104%);
}
.iconSend:hover{
    cursor: pointer;
}
