.posts{
    flex:1;
    min-width:fit-content;
    height: 700px;
    margin-left: 50%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.posts::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1200px)
{
    .posts{
        margin-left: 0%;
    }
}