.profile__topSection {
    background-color: #242526;
    height: fit-content
}

.profile__coverPhoto {
    background-color: #18191A;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 190px;
    z-index: 0;
    /* background-image: url("https://images.unsplash.com/photo-1414390579679-7d6cc7b20436?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHNjZW5lcnl8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") ; */
    background-repeat: no-repeat;
    background-size:cover;
}
.drop_bottom1{
    
    margin-top: 10px;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header1>h4{
 margin-left: 10px;
 color: #fff;
 font-size: 17px !important;
}
.editlink{
    color: #4599ff !important;
    margin-right: 10px;
}
.profile_photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop_bottom2{
    margin-top: 10px;
}
.header2{
    display: flex;
    justify-content: space-between;
}
.header2>h4{
    margin-left: 10px;
 color: #fff;
 font-size: 17px !important;
}
.cover_photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileUser{
    width: 168px !important;
    height: 168px !important;
}

.drop_top{
   min-width: 600px;
   width: 100%;
    display: flex;

    /* justify-content: space-around; */
border-bottom: 1px solid gray;
padding: 10px;
    
}
.RFriend{
    background-color:rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding:7px;
    margin-right: 10px;
}
.RFriend>img{
    -webkit-filter:invert(100%);
    margin-right: 3px;
}
.submit_btn{
    background-color:#4599ff;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
    margin: 10px;
    border-radius:5px;
}
.submit_btn>h4{
    font-size: 15px;
    color: #fff;
}
.Dtitle {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Dtitle>h1{
    color: #fff;
    font-size: 18px;
    
}
.icon{
    justify-self: flex-end;
    width: 30px;
    height: 30px;
    border-radius:50%;
    align-self:flex-end;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end !important;
}
.closeIcon{
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/ZOBPkpI0klM.png);
    background-position: -110px -110px;
    background-size: 190px 194px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(100%);
}
.dialog2{
    border-radius: 8px !important;
    border: unset !important;
}
.profileAvatar {
    margin-bottom: 20px !important;
    margin-left: 42%;
    height: 160px !important;
    width: 160px !important;
    border: 5px solid #242526;
    bottom: -20px;
    margin-bottom: -20px;
    user-select: none !important;
-moz-user-select: none !important;
-webkit-user-drag: none !important;
-webkit-user-select: none !important;
-ms-user-select: none ;
border-radius: 200px;
cursor: pointer;
}
.storyImg{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height:100%;
    object-fit: contain;
    border-radius: 10px;
}
.inputImage {
    display: none;
}
.coverPic{
    width: 100%;
    height: 100%;
    display:none;
}
.cover{
    margin-top: 10px;
    height: 60%;
    width: 80%;
    border-radius: 10px;
}
.modalInit h1 {
    color: white !important;
}

.profileHead2 p {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profileHead2 {
    display: flex;
    flex-direction: column;
}
.postAndWatch{
    width: 100%;
}
.profileHead2 button {
    background-color: #1E87DC;
    border: none;
    width: 100px;height: 40px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    margin-bottom: 20px;
}


.profileHead2 button:hover {
    background-color: #2276bb;
}


.buttons {
    display: flex;
    margin-left: 30%;
    flex-direction: row;
}


.progress {
    margin-left: 40px;
    margin-bottom: 10px;
}

.profile__topSection h1 {
    text-align: center;
    font-size: 32px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

.bio {
    text-align: center;
    color: #2e89ff;
    font-size: 15px;
    padding-bottom: 10px;
}

.bio:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hr4 {
    height: 1px;
    width: 100%;
    background-color: #3E4042;
    margin-left: 15%;
    margin-right: 15%;
}

.profileHeader__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileHeader__left ul {
    display: flex;
    flex-direction: row;
}

.profileHeader__left ul li {
    margin: 0;
    font-size: 15px;
    color: #b0b3b8;
    font-weight: 600;
    border-radius: 5px !important;
    margin-bottom: 10px;
}

.profileHeader__left ul li:hover {
    background-color: #3A3B3C !important;
}



.profileHeader__left ul .selected {
color: #2E89FF;
border-radius: 0px !important;
border-bottom: 3px solid #2E89FF;
margin-left: 45%;
margin-bottom: 0px !important;
}

.profileHeader__left ul .selected:hover {
    background-color: transparent !important;
}

.rect img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    -webkit-filter: invert(100%);
}

.rect {
    background-color: #3A3B3C;
    padding-right: 5px;
    border-radius: 10px;
    margin-bottom: 25px !important;
    margin-left: 10px !important;
}

.profileOptions{
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.options_wrapper{
border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
}
.optionLeft{
margin-right: 40px;
}
.optionList{
    margin:5px 0 5px 0;

    display: flex;
}
.listItem{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: #b0b3b8;
    margin:unset;
    margin-left: 5px;
    height: 40px;
  
    

}
.listItem:hover{
    background-color: #2F3031;
    border-radius: 10px;
}
.optionRight{
display: flex;
justify-content: center;
align-items: center;
}
.addFriend{
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #2d88ff;
    padding:7px;
    margin-right: 10px;
}
.addFriend>img{
    -webkit-filter:invert(100%);
}
.text{
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
}
.messenger>img{
    -webkit-filter:invert(100%)
}
.messengerI{
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    padding:7px;
    height: auto !important;
}
.edit{
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    padding:7px;
}
.addStory{
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #2d88ff;
    padding:7px;
    margin-right: 10px;
    border: none;
    
}
.addStory>img{
    -webkit-filter:invert(100%)
}
.edit>img{

}
.rect p {
    color: white;
    width: 80px;
}

.rect.addFriend {
    padding-left: 20px !important;
    padding-right: 20px !important;
}


  .postsAndIntro {
      display: flex;
      flex-direction: row;
  }

  .postAndWatch {
      display: flex;
      flex-direction: column;
      flex: 0.6;
      margin-left: 20px;
  }

  .bioFields {
      display: none;
      flex-direction: column;
      place-items: center;
  }

  .bioInput {
    background-color: #3A3B3C;
    border: none;
    min-height: 50px;
    height: fit-content;
    outline: none;
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 700;
  }

  .bioFields p {
      font-weight: 400;
      font-size: 13px;
      color: #b0c4d8;
      float: right;
      margin-left: 40px;
  }

  .cancelAndSaveButtons button {
      background-color: #3A3B3C;
      color: #fff;
      padding: 10px;
      border: none;
      margin-left: 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.2s;
  }

  .cancelAndSaveButtons button:hover {
    background-color: #535353;
  }

  .cancelAndSaveButtons {
      margin-bottom: 10px;
      margin-top: 10px;
      float: right;
      margin-left: 50px;
  }

  .saveButton {
      opacity: 0.4;
      outline: none;
  }

  .saveButton:hover {
      background-color: #3A3B3C;
  }

  .bioText {
      text-align: center;
      color: #AAADB2;
  }

  @media screen and (max-width: 768px) {
      .profile{
          width: 100%;
      }
      .profile__topSection{
          width: 100%;
      }
      .drop_top{
          min-width: unset;
      }
      .icon{
          margin-right: 15px;
      }
      .profile__coverPhoto{
          width: 100%;
          margin:unset;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .profileAvatar{
         margin-left: unset;
        
      }
      .optionLeft{
          display: none;
      }
      .optionRight{
          padding: 8px 0 8px 0;
      }
      .addFriend,.addStory,.RFriend,.addFriend,.edit,.messengerI{
          height: 25px;
      }
      .postAndWatch{
          margin: unset;
         width: 100% !important;
         flex: 1;
      }
  }