.slider {
  margin-top: 50px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .close_icon{
    position: absolute;
    top: 10px;
    right: 50px;
    color: rgb(255, 255, 255);
    font-size: 30px;
  }
  .close_icon:hover{
    cursor: pointer;
  }
  .MuiPaper-root{
    overflow-x: hidden;
    border-radius: 10px;
  }
  .image.active {
   
    width: 280px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
  }
  .image{
    position: relative;
   border-radius: 10px;
    height:300px;
    width: 170px;
   object-fit: cover;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
   
   opacity: 1;
    transition-duration: 1s ease-in-out;
    margin: 0 10px 0 10px;
  }
  .userCred{
    position: absolute;
    top: 10px;
   left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
    
  }
  .userName{
   font-size: 14px;
   font-weight: 500;
    margin-left: 5px;
    width: fit-content;
   
  }
  .slide.active {
  opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }


  @media screen and (max-width: 600px) {
      /* .slider{
          width: 100%;
      }
      .image{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      .slide.active{
        opacity: 1;
        width: 100% !important;
      }
      .storyWrapper{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
       padding:10px;
      }
      .image{
        display: none;
      } */
      .slide{
        opacity: 0;
        display: none;
      }
      .slider{
        margin-top: 50px;
      }
      .image.active{
        margin-top:50px;
        width:85%;
        height: 550px;
        /* height: 70vh; */
      }
      .slide.active{
        opacity: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }
      .right-arrow{
        right: 0;
        font-size: 24px;
      }
      .left-arrow{
        left: 0;
        font-size: 24px;
      }
  }